# code editors
/.idea

# dependencies
/node_modules
/client/node_modules
/.pnp
.pnp.js

# generated
/server/migrations/index.js
/server/integrations/index.js
/server/clientEmbed.js

# production
/build
/data
/bin
/MySpeed
/MySpeed.exe

# docs
/docs/.vitepress/dist
/docs/.vitepress/cache