@use "@/common/styles/colors" as *

.ookla-license
  h2
    margin: 0 0 0.75rem
    font-size: 1.15rem
    font-weight: 500
    color: $subtext

  p
    margin: 0
    font-size: 1rem
    color: $subtext

  .documents
    display: flex
    flex-direction: column
    margin-top: 1.25rem

    .document
      display: flex
      align-items: center
      margin: 0.4rem 0
      color: $green
      text-decoration: none

      svg
        margin-right: 0.6rem
        font-size: 1.4rem

      p
        font-size: 1.05rem
        font-weight: 500
        color: $green