@use "@/common/styles/colors" as *

.value-container
  display: flex
  flex-direction: column
  gap: 1.75rem
  justify-content: center
  width: 100%

.value-item
  display: flex
  justify-content: space-between
  align-items: center

.value-item svg
  width: 2.25rem
  height: 2.25rem
  color: $accent-primary

.value-item .value-info h2
  font-size: 15pt
  color: $white
  margin: 0
  font-weight: 600

.value-item .value-info p
  color: $accent-primary
  margin: 0
  font-weight: 600
  font-size: 1.1rem