@use "@/common/styles/colors" as *

.welcome-banner
  width: 32rem
  display: flex
  flex-direction: column
  justify-content: space-between
  user-select: none

  .welcome-inner
    height: 100%

  .welcome-actions
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1.5rem

    h3
      margin: 0
      font-size: 1rem
      color: $subtext
      font-weight: 500

    .dialog-btn
      padding: 0.6rem 1.5rem
      border-radius: 0.6rem

  .slide-in
    animation: slide-in 0.5s forwards

@keyframes slide-in
  from
    opacity: 0
    transform: translateX(20px)
  to
    opacity: 1
    transform: translateX(0)


@media screen and (max-width: 600px)
  .welcome-banner
    width: 100%

  .slide-in
    animation: slide-in 0.5s forwards