@use "@/common/styles/colors" as *

.provider-chooser

  h2
    margin: 0 0 0.75rem
    font-size: 1.15rem
    font-weight: 500
    color: $subtext

  p
    margin: 0
    font-size: 1rem
    color: $subtext

  .provider-list
    margin-top: 1.25rem
